AUTHOR = '''
Carsten Emde <C.Emde@osadl.org>
 '''
NAME = "rt_tests_ptsematest"
DOC = '''
description rt test utils
URL https://git.kernel.org/pub/scm/utils/rt-tests/rt-tests.git
'''
SUITE = "None"
TIME = "MEDIUM"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

result = job.run_test_detail('rt_tests_ptsematest', test_name='setup', tag='setup', timeout=60*5)
if result == 'GOOD':
    job.run_test('rt_tests_ptsematest', test_name='rt_tests_ptsematest', tag='rt_tests_ptsematest')
else:
    print("ERROR: test failed to build")
