ME="SHORT"
AUTHOR = "Brad Figg <brad.figg@canonical.com>"
DOC = """
qrt is the ubuntu quality-regression-tests
"""
NAME = 'ubuntu_qrt_kernel_panic'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*30)
if result == 'GOOD':
    result = job.run_test_detail(NAME, test_name='test-kernel-panic.py', tag='test-kernel-panic.py', timeout=60*30)
else:
    print("ERROR: failed to setup test envrionment, skipping all the sub tests")

# vi:set ts=4 sw=4 expandtab syntax=python:
