AUTHOR = "Ubuntu"
NAME = "ubuntu_stress_smoke_test"
CRITERIA = """
Stress-ng Kernel Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""


#
# Tests that can lock up some kernels or are CPU / arch specific, so exclude them for now
#
lockup1 = ["rdrand", "numa", "quota", "apparmor", "cpu-online", "kcmp", "copy-file", "exec"]
lockup2 = ["spawn", "remap", "stack", "oom-pipe", "resources", "opcode", "sockfd" ,"vforkmany"]
lockup3 = ["sockpair", "bind-mount", "funccall", "ioport", "watchdog", "mlockmany", "idle-page", "clone"]
lockup = lockup1 + lockup2 + lockup3

#
# Tests that are not kernel specific
#
generic1 = ["atomic", "bsearch", "heapsort", "hsearch", "longjmp", "lsearch", "matrix" ,"memcpy"]
generic2 = ["rdrand", "str", "tsc", "vecmath", "wcs", "zlib", "matrix-3d", "l1cache"]
generic3 = ["nop", "qsort"]
generic = generic1 + generic2 + generic3

#
# Tests that are known to cause breakage
#
breakage = ["xattr", "efivar", "sysinfo", "sysinval"]

#
# Currenly a new stress test can causes problems with s390x on older kernels
# https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1905438
#
legacy = ["uprobe"]

exclude = lockup + generic + breakage + legacy

#
# Tests that should be skipped on KVM kernels
#
cmd = "uname -r | awk -F'-' '{print $NF}'"
flavour = utils.system_output(cmd, retain_output=True)
if flavour == 'kvm':
    exclude.append('dnotify')

result = job.run_test_detail(NAME, test_name='setup-check', tag='setup-check', timeout=5*60)
if result == 'GOOD':
    job.run_test_detail(NAME, test_name='setup-init', tag='setup-init', timeout=5*60)
    # Change the test build step from "setup" to "setup-test" so it won't get confused
    # with the setup() that triggered automatically (which we intetionally left blank)
    result = job.run_test_detail(NAME, test_name='setup-test', tag='setup-test', timeout=60*60)
    if result == 'GOOD':
        stressng_dir = os.path.join(job.bindir, 'tmp', NAME, 'src', 'stress-ng')
        cmd = '%s/stress-ng --stressor' % (stressng_dir)
        stressors = utils.system_output(cmd, retain_output=True).split()
    else:
        print("ERROR: can't get a list of available stressors")
        exit(1)

    for stress in stressors:
        if stress not in exclude:
            job.run_test_detail(NAME, test_name=stress , tag=stress, timeout=35*60)

    src_dir = os.path.dirname(job.control)
    cmd = '%s/ubuntu_stress_smoke_test_cleanup.sh' % (src_dir)
    utils.system_output(cmd)

# vi:set ts=4 sw=4 expandtab syntax=python:
