AUTHOR = "Ubuntu"
NAME = "ubuntu_loop_smoke_test"
CRITERIA = """
Kernel Loopback Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

results = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*20)
if results == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    results = job.run_test_detail(NAME, test_name='loop-smoke-test', tag='loop-smoke-test', timeout=60*85)

# vi:set ts=4 sw=4 expandtab syntax=python:
