AUTHOR = "Chris J Arges <chris.j.arges@canonical.com>"
NAME = "Ubuntu CVE Kernel Tests"
PURPOSE = "Provide testing for CVE exploits"
CRITERIA = """
Tests publicly available CVE exploits
"""
SUITE = "None"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "regression"
TEST_TYPE = "client"
DOC = """
Tests publicly available CVE exploits
"""

name = 'ubuntu_cve_kernel'

CVES = {'CVE-2015-7550': {'arch-blacklist': []},
        'CVE-2015-8543': {'arch-blacklist': []},
        'CVE-2015-8660': {'arch-blacklist': []},
        'CVE-2016-0728': {'arch-blacklist': []},
        'CVE-2016-3134': {'arch-blacklist': []},
        'CVE-2016-3135': {'arch-blacklist': []},
        'CVE-2016-3672': {'arch-blacklist': ['aarch64', 'athlon', 'ppc64le', 'riscv64', 's390x']},
        'CVE-2021-2736X':{'arch-blacklist': []},
}

result = job.run_test_detail(name, test_name='setup', tag='setup', timeout=60*10)
if result == 'GOOD':
    for cve in CVES:
        if not platform.machine() in CVES[cve]['arch-blacklist']:
            result = job.run_test_detail(name, test_name=cve, tag=cve, timeout=60*15)
else:
    print("ERROR: required packages installation has failed, skipping all the sub tests")
