AUTHOR = "Ubuntu"
NAME = "ubuntu_ltp_cve"
CRITERIA = """
Use the upstream LTP repository
"""
SUITE = "None"
TIME = "MEDIUM"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=40*60)
if result == 'GOOD':
    fn = '/opt/ltp/runtest/cve'
    with open(fn , 'r') as f:
        for line in f:
            if line.strip() and not line.startswith('#'):
                with open ('/tmp/target' , 'w') as t:
                    t.write(line)
                testcase = line.split()[0]
                timeout_threshold = 60*30
                job.run_test_detail(NAME, test_name=testcase, tag=testcase, timeout=timeout_threshold)
else:
    print("ERROR: test failed to build, skipping all the sub tests")

# vi:set ts=4 sw=4 expandtab syntax=python:
