AUTHOR = 'Martin Bligh <mbligh@google.com>'
DOC = '''
description rt test utils
URL http://www.kernel.org/pub/scm/linux/kernel/git/tglx/rt-tests.git
'''
NAME = 'cyclic_test'
TIME = 'MEDIUM' ## ?
EXPERIMENTAL = 'True'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

result = job.run_test_detail('cyclictest', test_name='setup', tag='setup', timeout=60*5)
if result == 'GOOD':
    job.run_test('cyclictest', test_name='cyclictest', tag='cyclictest')
