AUTHOR = "mbligh@google.com"

NAME = "Rmap test"

TIME = "MEDIUM"
TEST_CLASS = "Kernel"
TEST_CATEGORY = "Fuctional"
TEST_TYPE = "Client"
EXPERIMENTAL = "True"

DOC = """
Create lots of VMAs mapped by lots of tasks.  To tickle objrmap and the
virtual scan.
"""
result = job.run_test_detail('rmaptest', test_name='setup', tag='setup', timeout=60*5)
if result == 'GOOD':
    job.run_test('rmaptest', test_name='rmaptest', tag='rmaptest', timeout=60*40)
