AUTHOR = "Ubuntu"
NAME = "ubuntu_overlayfs_smoke_test"
CRITERIA = """
Overlayfs and Shiftfs Kernel Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = "Test basic and sauce patch overlay/shiftfs functionality"

name = 'ubuntu_overlayfs_smoke_test'

try:
    series = platform.dist()[2]
except AttributeError:
    import distro
    series = distro.codename()

# For skipping specific unit tests in incompatible environments
SKIP_LIST = [
]

result = job.run_test_detail(name, test_name='setup', tag='setup', timeout=60*5)
if result == 'GOOD':
    tests_dir = os.path.join(job.bindir, 'tmp', name, 'src', 'overlay-shiftfs-tests', 'tests')
    tests_list = os.listdir(tests_dir)
    tests_list.sort()
    # The 'shiftfs-hung.sh' test is dangerous as it might cause system hang
    # Put it in the end of the queue
    if 'shiftfs-hung.sh' in tests_list:
        tests_list.remove('shiftfs-hung.sh')
        tests_list.append('shiftfs-hung.sh')
    # Just run the old ubuntu_overlayfs_smoke_test.sh test on older releases LP: #2032779
    if 'ubuntu_overlayfs_smoke_test.sh' and series in ['trusty', 'xenial', 'bionic']:
        tests_list = ['ubuntu_overlayfs_smoke_test.sh']
    for test in tests_list:
        if test in SKIP_LIST:
            print("SKIPPED: " + test)
            continue
        job.run_test_detail(name, test_name=test, tag=test, timeout=60*10)

# vi:set ts=4 sw=4 expandtab syntax=python:
