ME="SHORT"
AUTHOR = "Brad Figg <brad.figg@canonical.com>"
DOC = """
qrt is the ubuntu quality-regression-tests
"""
NAME = 'ubuntu_qrt_apparmor'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*60)
if result == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    result = job.run_test_detail(NAME, test_name='test-apparmor.py', tag='test-apparmor.py', timeout=60*60*3)

# vi:set ts=4 sw=4 expandtab syntax=python:
