AUTHOR = "Ubuntu"
NAME = "ubuntu_performance_multipass"
CRITERIA = """
Multipass Boot Performance Regression Tests
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = "client"
DOC = ""

result = job.run_test_detail(NAME, tag='setup', test_name='setup', timeout=60*30)
if result == 'GOOD':
    results = job.run_test_detail(NAME, tag='multipassboot', test_name='multipassboot', timeout=1800)
    print(results)
else:
    print("ERROR: test failed to build, skipping all the sub tests")

# vi:set ts=4 sw=4 expandtab syntax=python:
