AUTHOR = "Ubuntu"
NAME = "ubuntu_performance_zfs_encryption"
CRITERIA = """
Performance test zfs encryption
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = "client"
DOC = ""

tests = [
    'performance-test-encryption',
    'post-test-zfs-cleanup',
    ]

results = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*30)
if results == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    for t in tests:
        results = job.run_test_detail(NAME, test_name=t, tag=t, timeout=60*30)
