AUTHOR = "Ubuntu"
NAME = "ubuntu_fan_smoke_test"
CRITERIA = """
Kernel Fan Driver Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*20)
if result == 'GOOD':
    results = job.run_test_detail(NAME, test_name='fan-smoke-test', tag='fan-smoke-test', timeout=60*30)
else:
    print("ERROR: test failed to build, skipping all the sub tests")

# vi:set ts=4 sw=4 expandtab syntax=python:
